#funnel-container {
    height: 100%;
    width: 100%;
}
#funnel-container .levels rect {
    stroke: white;
    stroke-width: .5;
    stroke-dasharray: 100, 100;
    transition: all ease-in-out .35s;
}
#funnel-container .levels rect:hover {
    opacity: .75;
}
